<!-- Philosophy Section -->
    <section id="philosophy">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">21<sup>st</sup> century skills – The need of the hour</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Future of work</h4>
                    <p class="text-muted">Focus on preparing students for the ‘demands and challenges of life’ and 'what the future holds for them’.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Holistic Development</h4>
                    <p class="text-muted">Shift from ‘only inter-personal skills’ towards ‘intrapersonal skills also’ for complete development.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Social & Emotional Learning</h4>
                    <p class="text-muted">IQ is no longer the only variable for success; EQ and Social Quotient are equally critical.</p>
                </div>
            </div>
        </div>
    </section>